@{
    ViewData["Title"] = "Order Page";
}
@model KCompanyWebApp.Models.TrOrderHdr

<h2>Order</h2>

<table class="table table-striped table-hover" cellpadding="0" cellspacing="0">
    <thead class="table-dark">
        <tr>
            <th>OrderNo</th>
            <th>OrderDate</th>
            <th>StoreNo</th>
            <th>AreaNo</th>
            <th>SalesmanNo</th>
            <th>CustomerNo</th>
            <th>GrandTotal</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var ord in ViewBag.Orders)
        {
            <tr>
                <td>@ord.OrderNo.ToString()</td>
                <td>@ord.OrderDate.ToString()</td>
                <td>@ord.StoreNo.ToString()</td>
                <td>@ord.AreaNo.ToString()</td>
                <td>@ord.SalesmanNo.ToString()</td>
                <td>@ord.CustomerNo.ToString()</td>
                <td>@ord.GrandTotal.ToString()</td>
                <td>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="Edit" asp-route-OrderNo="@ord.OrderNo.ToString()">Edit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OrderDetails" asp-action="Index" asp-route-OrderNo="@ord.OrderNo.ToString()">Details</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
