@{
    ViewData["Title"] = "Customer Page";
}
@model KCompanyWebApp.Models.MsCustomer

<h2>Customers</h2>

<table class="table table-striped table-hover" cellpadding="0" cellspacing="0">
    <thead class="table-dark">
        <tr>
            <th>CustomerNo</th>
            <th>Type</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var cust in ViewBag.Customers)
        {
            <tr>
                <td>@cust.CustomerNo.ToString()</td>
                <td>@cust.CustomerType.ToString()</td>
                <td>@cust.CustomerName.ToString()</td>
                <td>@cust.Address.ToString()</td>
                <td>@cust.Phone.ToString()</td>
            </tr>
        }
    </tbody>
</table>
